<section class="section composition">
	<div class="wrapper">
		<h2 class="title">Благодаря полностью натуральному составу<br> комплекс <span class="colortext-orange">20Flex</span> имеет максимальный процент усвояемости суставными структурами</h2>
		<div class="composition-info">
			<div class="composition-info__content">
				<div class="composition-info__item">
					<h4 class="composition-info__title">Хондроитин</h4>
					<p>укрепляет структуру хряща, сухожилий, связок, обезболивает, снимает<br> воспаление, <span class="font-bold another-text">запускает регенерацию хряща,</span> стимулирует синтез гиалуроновой<br> кислоты</p>
				</div>
				<div class="composition-info__item">
					<h4 class="composition-info__title">Глюкозамин</h4>
					<p><span class="font-bold another-text">останавливает старение сустава,</span> восстанавливая его нормальные функции,<br> <span class="font-bold another-text">подавляет боль</span> и воспаления, активизирует процесс регенерации клеток<br> хрящевой ткани.</p>
				</div>
			</div>
			<div class="composition-info__img">
				<div class="box-molecule box-molecule1">
					<img class="molecule1" src="img/molecule1.png" alt="">
				</div>
				<div class="box-molecule box-molecule2">
					<img class="molecule2" src="img/molecule2.png" alt="">
				</div>
			</div>
			<img class="molecule-bg" src="img/molecule-bg.png" alt="">
		</div>
		<h4 class="composition-descr italic"><span class="font-bold">Хондроитин</span> и <span class="font-bold">Глюкозамин</span><br> содержатся в составе <span class="colortext-orange">20Flex</span>&nbsp;и&nbsp;<span class="colortext-blue">20Flex+</span></h4>
		<div class="composition-wrap">
			<div class="composition-wrap__item">
				<div class="composition-wrap__img">
					<img class="composition-product2" src="img/product2.png" alt="">
				</div>
				<h4 class="composition-wrap__title colortext-orange"><img src="img/product-icon__orange.png" alt="">Гель в капсуле</h4>
				<div class="item">
					<div class="item-img">
						<span class="item-img__circle"></span>
						<img class="item-img__ingredients" src="img/composition1.png" alt="">
 					</div>
					<p class="item-text"><span class="item-title colortext-orange border-blue">Экстракт мяты перечной</span>
					Улучшает микроциркуляцию крови в суставе, ускоряет процессы регенерации в хрящевых и&nbsp;соединительных тканях, <span class="font-bold another-color">снимает<br> воспаление и&nbsp;боль</span></p>
				</div>
				<div class="item">
					<div class="item-img">
						<span class="item-img__circle"></span>
						<img class="item-img__ingredients" src="img/composition3.png" alt="">
 					</div>
					<p class="item-text"><span class="item-title colortext-orange border-blue">Экстракт центеллы азиатской</span>
					Укрепляет костные и хрящевые ткани сустава, <span class="font-bold another-color">защищает суставы от износа</span> и старения, омолаживает их</p>
				</div>
			</div>
			<div class="composition-wrap__item composition-wrap__right">
				<div class="composition-wrap__img">
					<img class="composition-product1" src="img/product1.png" alt="">
				</div>
				<h4 class="composition-wrap__title colortext-blue"><img src="img/product-icon__blue.png" alt="">Таблетки</h4>
				<div class="item">
					<div class="item-img">
						<span class="item-img__circle border-blue"></span>
						<img class="item-img__ingredients item-img__biger" src="img/composition2.png" alt="">
 					</div>
					<p class="item-text"><span class="item-title colortext-blue">Гиалуроновая кислота</span>
					<span class="font-bold another-color">улучшает подвижность сустава</span> даже при&nbsp;сильных разрушениях, устраняет болевые ощущения, повышает упругость<br> и амортизацию хряща</p>
				</div>
				<div class="item">
					<div class="item-img">
						<span class="item-img__circle border-blue"></span>
						<img class="item-img__ingredients" src="img/composition4.png" alt="">
 					</div>
					<p class="item-text"><span class="item-title colortext-blue">Экстракт зеленых мидий</span>
					улучшает кровообращение в суставе,<br> <span class="font-bold another-color">укрепляет костную и хрящевую ткани,</span> содержит в составе полезные для суставов микроэлементы, витамины В2, В2, В6,  В12,<br> РР, D и Е</p>
				</div>
			</div>
		</div>
		<div class="advice">
			<h4 class="advice-title">Компоненты геля и таблеток усиливают действие друг друга.</h4>
			<p class="advice-descr">Клетки обновляются максимально быстро.<br> Полное <span class="another-color font-bold">омоложение суставов</span> ощутимо уже через&nbsp;<span class="colortext-orange font-bold">30&nbsp;дней.</span></p>
		</div>
	</div>
</section>