<section class="section delivery">
    <div class="wrapper">
        <h2 class="title">
            На <span class="colortext-orange">20Flex</span> действует бесплатная доставка <br>
            без&nbsp;предоплаты
        </h2>
        <div class="delivery__content">
            <div class="delivery__item">
                <div class="delivery__foto delivery__foto--form">
                    <img src="img/delivery-form.png" alt="foto" class="delivery__img">
                </div>
                <h4 class="delivery__text">
                    Быстро
                </h4>
                <p class="delivery__p">
                    Вы заполняете простую <br>
                    форму заказа
                </p>
            </div>
            <div class="delivery__line"></div>
            <div class="delivery__item">
                <div class="delivery__foto delivery__foto--girl">
                    <img src="img/delivery-girl.png" alt="foto" class="delivery__img delivery__img--girl">
                </div>
                <h4 class="delivery__text">
                    Удобно
                </h4>
                <p class="delivery__p">
                    Наш оператор перезванивает <br>
                    и&nbsp;согласовывает все&nbsp;детали
                </p>
            </div>
            <div class="delivery__line"></div>

            <div class="delivery__item">
                <div class="delivery__foto delivery__foto--prod">
                    <img src="img/pills.png" alt="foto" class="delivery__img delivery__img--prod3">
                    <img src="img/product1.png" alt="foto" class="delivery__img delivery__img--prod1">
                    <img src="img/product2.png" alt="foto" class="delivery__img delivery__img--prod2">
                </div>
                <h4 class="delivery__text">
                    Безопасно
                </h4>
                <p class="delivery__p">
                    Оплата товара  – только <span class="delivery__p--bold">после <br>
                    получения</span>. Никаких предоплат
                </p>
            </div>
        </div>
        <h3 class="delivery__subtitle">
            Если у вас остались вопросы о <span class="colortext-orange">20Flex</span>,
        </h3>
        <h4 class="delivery__subject">
            наш специалист <span class="delivery__subject--bold">бесплатно проконсультирует</span> вас по&nbsp;телефону

        </h4>
    </div>
</section>