<section class="section section-grey demonstration">
    <div class="wrapper">
        <div class="demonstration__wrapper">
            <div class="demonstration__video">
                <p class="demonstration__video-title">
                    Почему болят ваши<br>
                    суставы
                </p>
                <div class="youtube demonstration__video-youtube" id="1jjo4S7-zU8"></div>
            </div>
            <div class="demonstration__description">
                <h2 class="demonstration__description-title">
                    Что такое <span class="colortext-orange">заболевания суставов</span> –
                    наглядно
                </h2>
                <p class="demonstration__description-text">
                    Физические нагрузки и травмы, инфекционные заболевания,
                    лишний вес и пожилой возраст приводят к изнашиванию суставов — 
                    их <span class="demonstration__description-text_color">“старению”</span>. При старении хрящ теряет свою
                    способность <br>
                    восстанавливаться, поэтому его <span class="demonstration__description-text_color">поверхность
                        постепенно стирается.</span> 
                    Таким образом, хрящ 35 - летнего человека может иметь состояние 
                    60 - летнего, что приводит к артрозам, артритам и другим 
                    заболеваниям суставов.
                </p>
            </div>
        </div>
        <p class="demonstration__result">
            <span class="colortext-orange">Откладывать лечение</span> болезней суставов <span class="colortext-orange">нельзя</span>,
            ведь с каждым днем будет становиться только хуже!
        </p>
    </div>
</section>