<section class="section doctor">
    <div class="wrapper">
        <h2 class="title">
            Результаты исследования <span class="colortext-orange">20Flex</span> в 2016 году
        </h2>
        <h3 class="doctor__subtitle">
            проведенного среди <span class="doctor__subtitle--bold">4684</span> человек от <span
                class="doctor__subtitle--bold">16</span> до <span class="doctor__subtitle--bold">78</span> лет
            <br>
            при поддержке клиник <span class="doctor__subtitle--bold">Европы</span>, <span
                class="doctor__subtitle--bold">Израиля</span> и <span class="doctor__subtitle--bold">США</span>
        </h3>
        <div class="doctor__stats">
            <div class="doctor__item">
                <h3 class="doctor__stat">
                    78%
                </h3>
                <p class="doctor__text">
                    отметили, что <span class="doctor__text--bold">боль в суставах <br>
                    пропала полностью
                </span> <br>
                    через 14 дней использования
                </p>
            </div>
            <div class="doctor__item">
                <h3 class="doctor__stat">
                    86,4%
                </h3>
                <p class="doctor__text">
                    <span class="doctor__text--bold">заметили улучшение <br>
                    подвижности</span> суставов <br>
                    и устранение боли
                </p>
            </div>
            <div class="doctor__item">
                <h3 class="doctor__stat">
                    91%
                </h3>
                <p class="doctor__text">
                    отметили, <br>
                    что <span class="doctor__text--bold">болезнь не возвращается</span> <br>
                    в течение 2-х лет
                </p>
            </div>
            <div class="doctor__content">
                <div class="doctor__sert">
                    <img src="img/certificate1.jpg" alt="sert" class="doctor__sert-img">
                    <img src="img/certificate2.jpg" alt="sert" class="doctor__sert-img">
                    <img src="img/certificate3.jpg" alt="sert" class="doctor__sert-img">
                </div>
                <div class="doctor__prod">
                    <img src="img/pills.png" alt="product" class="doctor__pack">
                    <img src="img/product1.png" alt="product" class="doctor__pack">
                    <img src="img/product2.png" alt="product" class="doctor__pack">
                </div>
            </div>
        </div>
    </div>
</section>