<section class="section doctor" id="doctor">
    <div class="wrapper doctor__wrapper">
        <h2 class="title doctor__title">
            Комплекс <span class="colortext-orange">20Flex</span> – ТОП-1 средство
            для регенерации суставов
        </h2>
        <p class="doctor__title-bottom">среди рекомендаций современных врачей и мед. ассоциаций</p>
        <div class="doctor__content">
            <div class="doctor__img">
                <img src="img/doctor.png" alt="doctor">
            </div>
            <div class="doctor__description">
                <p class="doctor__description-title">Харлам Петровский</p>
                <p class="doctor__description-subtitle">
                    глава Международной Ортопедической ассоциации,<br>
                    канд. мед. наук
                </p>
                <p class="doctor__description-quote">
                    “Обычные хондропротекторы или мази для суставов – устаревшие методы 
                    лечения, от них уже давно отказались в прогрессивных странах. Необходимо 
                    усиливать их действие. И ученые уже нашли способ, как это сделать”
                </p>
                <div class="doctor__scroll mCustomScrollbar" data-mcs-theme="dark">
                    <p class="doctor__scroll-description">
                        При использовании <span class="doctor__scroll-description_color">только внутреннего</span> препарата-хондропротектора 
                        приходится <span class="doctor__scroll-description_color">терпеть боль</span>, а восстановление происходит на 40-50% 
                        эффективности.
                    </p>
                    <p class="doctor__scroll-description">
                        При использовании <span class="doctor__scroll-description_color">только внешнего</span> препарата вы лечите лишь один сустав, 
                        пока все остальные <span class="doctor__scroll-description_color">продолжают разрушаться</span>.
                    </p>
                    <p class="doctor__scroll-description">
                        Чтобы эффективно восстанавливать суставы и при этом комфортно себя 
                        чувствовать с первого дня лечения, просто <span class="doctor__scroll-description_color">необходимо использовать 
                        и&nbsp;внутреннее, и наружное средства</span>.
                    </p>
                    <p class="doctor__scroll-description">
                        Важно, что препараты обязательно должны быть разработаны как дополняющие 
                        друг друга средства. Нельзя просто зайти в аптеку 
                        и купить отдельно неплохую мазь и таблетки, которые рекомендовала соседка. 
                        Случайно подобранные препараты могут быть несовместимы друг с другом. 
                        <span class="doctor__scroll-description_color">Нужно восстанавливать суставы комплексным средством, рекомендуемым 
                        специалистами</span>. Очевидная практика, которую почему-то соблюдают не все 
                        врачи.
                    </p>
                    <p class="doctor__scroll-description">
                        <span class="doctor__scroll-description_color">Лучший на сегодня комплекс из наружного и внутреннего средств -</span> <span class="colortext-orange">20Flex</span>, гель и 
                        таблетки. Они многократно усиливают действие 
                        друг друга, останавливают разрушение суставов и запускают 
                        их регенерацию. Получается эффект омоложения.
                    </p>
                    <p class="doctor__scroll-description">
                        Комплекс <span class="colortext-orange">20Flex</span> помогает даже в самых запущенных случаях 
                        при абсолютно разных болезнях: артрите, артрозе, травмах, 
                        возрастных изменениях.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>