<section class="section ">
    <div class="wrapper effective__wrapper">
        <h2 class="title">
            Комплекс <span class="colortext-orange">20Flex</span> высокоэффективен даже
            при запущенных стадиях болезней суставов
        </h2>
        <p class="sub-title">
            поэтому он в разы превосходит обычные хондропротекторы и нестероидные
            противовоспалительные средства (НПВС)
        </p>
        <div class="effective">
            <div class="effective__block effective__block_width">
                <div class="effective__item effective__item_flex effective__item_color">

                </div>
                <div class="effective__item effective__item_flex">
                    <p class="effective__item-title">Заявленный эффект</p>
                </div>
                <div class="effective__item effective__item_flex">

                    <p class="effective__item-title">Принцип действия</p>
                </div>
                <div class="effective__item effective__item_flex">

                    <p class="effective__item-title">Длительность лечения</p>
                </div>
                <div class="effective__item effective__item_flex">

                    <p class="effective__item-title">Побочные эффекты</p>
                </div>
                <div class="effective__item effective__item_flex">
                    <p class="effective__item-title">
                        Процент
                        успешного
                        лечения
                        болезни
                    </p>
                </div>
            </div>


            <div class="effective__slide-wrapper">
                <div class="effective__slide">

                    <div class="effective__block">
                        <div class="effective__item effective__item_color effective__item_center">
                            <p class="effective__item-title">Обычные хондропротекторы</p>

                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Заявленный эффект</p>
                            <p class="effective__item-description">Профилактика и лечение болезней суставов</p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Принцип действия</p>
                            <p class="effective__item-description">
                                Длительное питание сустава минимальными дозами
                                восстанавливающих веществ без обезболивающего эффекта
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Длительность лечения</p>
                            <p class="effective__item-description">6 месяцев</p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                - создают нагрузку для печени <br>
                                - тошнота, боли в желудке<br>
                                - слабость, головокружения
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                Действуют только на начальных стадиях болезни
                                или как профилактика
                            </p>
                            <p class="effective__item-procent">
                                24,2%
                            </p>
                        </div>
                    </div>


                    <div class="effective__block">
                        <div class="effective__item effective__item_color effective__item_center">
                            <p class="effective__item-title">
                                    Нестероидные 
                                    противовоспалительные 
                                    средства (НПВС)
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Заявленный эффект</p>
                            <p class="effective__item-description">
                                    Уменьшение воспаления 
                                    и боли
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Принцип действия</p>
                            <p class="effective__item-description">
                                    Временное снятие симптомов болезни: боль, воспаление, жар
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Длительность лечения</p>
                            <p class="effective__item-description">Применяются годами</p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                    - почечная недостаточность<br>
                                    - гипертония, сердце<br>
                                    - язва желудка
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                    Не являются средством, лечащим суставы
                            </p>
                            <p class="effective__item-procent">
                                7,1%
                            </p>
                        </div>
                    </div>

                    <div class="effective__block effective__block_border">
                        <div class="effective__item effective__item_color effective__item_center">
                            <p class="effective__item-title">Комплекс 20Flex</p>

                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Заявленный эффект</p>
                            <p class="effective__item-description">Полное восстановление суставов</p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Принцип действия</p>
                            <p class="effective__item-description">
                                    Одновременное наружное 
                                    и внутреннее питание сустава веществами, запускающими регенерацию, полное устранение причины болезни и ее симптомов.
                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Длительность лечения</p>
                            <p class="effective__item-description">30 дней</p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                    не имеет побочных эффектов, кроме индивидуальной непереносимости


                            </p>
                        </div>
                        <div class="effective__item">
                            <p class="effective__item-title effective__item-title_mob">Побочные эффекты</p>
                            <p class="effective__item-description">
                                    Быстро восстанавливает суставы

                            </p>
                            <p class="effective__item-procent">
                                86,4%
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>