<section class="section highly-effective">
    <div class="wrapper effective__wrapper">

        <h2 class="title">
            Комплекс <span class="colortext-orange">20Flex</span> высокоэффективен даже
            при&nbsp;запущенных стадиях болезней суставов
        </h2>
        <p class="sub-title">
            поэтому он в разы превосходит обычные хондропротекторы и нестероидные
            противовоспалительные средства (НПВС)
        </p>



        <div class="effect">
            <div class="effect__block effect__block_width">
                <div class="effect__block-item">

                </div>

                <div class="effect__block-item effect__block-item_flex">
                    <h2 class="effect__block-title">
                        Заявленный<br>
                        эффект
                    </h2>
                </div>

                <div class="effect__block-item effect__block-item_flex">
                    <h2 class="effect__block-title">
                        Принцип<br>
                        действия
                    </h2>
                </div>

                <div class="effect__block-item effect__block-item_flex">
                    <h2 class="effect__block-title">
                        Длительность<br>
                        лечения
                    </h2>
                </div>

                <div class="effect__block-item effect__block-item_flex">
                    <h2 class="effect__block-title">
                        Побочные<br>
                        эффекты
                    </h2>
                </div>

                <div class="effect__block-item effect__block-item_flex">
                    <h2 class="effect__block-title">
                        Процент<br>
                        успешного<br>
                        лечения<br>
                        болезни
                    </h2>
                </div>
            </div>

            <div class="effect__slider">
                <div class="effect__slider-wrapper">

                    <div class="effect__block">
                        <div class="effect__block-item">
                            <h2 class="effect__block-title">
                                Обычные
                                хондропротекторы
                            </h2>

                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Заявленный
                                эффект
                            </h2>
                            <p class="effect__block-description">
                                Профилактика и лечение болезней суставов
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Принцип
                                действия
                            </h2>
                            <p class="effect__block-description">
                                Длительное питание сустава минимальными дозами восстанавливающих веществ без
                                обезболивающего эффекта
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Длительность
                                лечения
                            </h2>
                            <p class="effect__block-description">
                                6 месяцев
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Побочные
                                эффекты
                            </h2>
                            <p class="effect__block-description">
                                - создают нагрузку для печени<br>
                                - тошнота, боли в желудке<br>
                                - слабость, головокружения
                            </p>
                        </div>

                        <div class="effect__block-item effect__block-item_before">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Процент
                                успешного
                                лечения
                                болезни
                            </h2>
                            <p class="effect__block-description effect__block-description_red">
                                Действуют только на начальных стадиях болезни
                                или как профилактика
                            </p>
                            <p class="effect__block-procent">
                                24,2%
                            </p>
                            <img src="img/x.svg" alt="check" class="effect__block-check">
                        </div>
                    </div>

                    <div class="effect__block">
                        <div class="effect__block-item ">
                            <h2 class="effect__block-title">
                                Нестероидные
                                противовоспалительные
                                средства (НПВС)
                            </h2>

                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Заявленный
                                эффект
                            </h2>
                            <p class="effect__block-description">
                                Уменьшение воспаления
                                и боли
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Принцип
                                действия
                            </h2>
                            <p class="effect__block-description">
                                Временное снятие симптомов болезни: боль, воспаление, жар
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Длительность
                                лечения
                            </h2>
                            <p class="effect__block-description">
                                Применяются годами
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Побочные
                                эффекты
                            </h2>
                            <p class="effect__block-description">
                                - почечная недостаточность<br>
                                - гипертония, сердце<br>
                                - язва желудка

                            </p>
                        </div>

                        <div class="effect__block-item effect__block-item_before">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Процент
                                успешного
                                лечения
                                болезни
                            </h2>
                            <p class="effect__block-description effect__block-description_red">
                                Не являются средством, лечащим суставы
                            </p>
                            <p class="effect__block-procent">
                                7,1%
                            </p>
                            <img src="img/x.svg" alt="check" class="effect__block-check">
                        </div>
                    </div>

                    <div class="effect__block effect__block_border">
                        <div class="effect__block-item effect__block-item_height">
                            <h2 class="effect__block-title effect__block-title_center">
                                Комплекс 20Flex
                            </h2>

                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Заявленный
                                эффект
                            </h2>
                            <p class="effect__block-description">
                                Полное восстановление суставов

                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Принцип
                                действия
                            </h2>
                            <p class="effect__block-description">
                                Одновременное наружное
                                и внутреннее питание сустава веществами, запускающими регенерацию, полное устранение
                                причины болезни и ее симптомов.
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Длительность
                                лечения
                            </h2>
                            <p class="effect__block-description">
                                30 дней
                            </p>
                        </div>

                        <div class="effect__block-item">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Побочные
                                эффекты
                            </h2>
                            <p class="effect__block-description">
                                не имеет побочных эффектов, кроме индивидуальной непереносимости

                            </p>
                        </div>

                        <div class="effect__block-item effect__block-item_last effect__block-item_before">
                            <h2 class="effect__block-title effect__block-title_mob">
                                Процент
                                успешного
                                лечения
                                болезни
                            </h2>
                            <p class="effect__block-description effect__block-description_green ">
                                Быстро восстанавливает суставы
                            </p>
                            <p class="effect__block-procent effect__block-procent_color">
                                86,4%
                            </p>
                            <img src="img/sheck-mark__big.svg" alt="check" class="effect__block-check">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <h2 class="effect__bottom-title">
            В комплексе <span class="colortext-orange">20Flex</span> исправлены ошибки обычных хондропротекторов и&nbsp;НПВС.
        </h2>
        <p class="effect__bottom-description">
            Благодаря этому <span class="colortext-orange">20Flex</span> <span class="effect__bottom-description_color">максимально восстанавливает ваши&nbsp;суставы</span><br>
            за <span class="colortext-orange">30 дней</span> и <span class="effect__bottom-description_color">не допускает рецидива.</span>
        </p>
    </div>
</section>