<section class="section home">
    <div class="wrapper">
        <div class="header">
            <div class="header-item">
                <img class="header-item__img" src="img/award.svg" alt="">
                <a href="#research" class="header-item__text">№1 среди рекомендаций<br> врачей за 2018 год</a>
            </div>
            <div class="header-item">
                <img class="header-item__img" src="img/medicine.svg" alt="">
                <a href="#doctor" class="header-item__text">Эффективность доказана<br> клиниками США, России<br> и Европы</a>
            </div>
            <div class="header-item">
                <img class="header-item__img" src="img/reviews.svg" alt="">
                <a href="#reviews" class="header-item__text">Отзывы покупателей</a>
            </div>
        </div>
        <div class="home-wrap">
            <div class="home-wrap__content">
                <h1 class="home-title font-black">Верните<br> молодость<br> своим суставам!</h1>
                <h4 class="home-descr font-medium">Революционный комплекс<br> для свободного движения в любом возрасте</h4>
                <div class="home-list">
                    <div class="home-list__item">
                        <div class="home-list__img">
                            <img src="img/check-mark.svg" alt="">
                        </div>
                        <span class="home-list__text font-medium">Улучшит подвижность ваших суставов</span>
                    </div>
                    <div class="home-list__item">
                        <div class="home-list__img">
                            <img src="img/check-mark.svg" alt="">
                        </div>
                        <span class="home-list__text font-medium">Избавит вас от всех видов артроза </span>
                    </div>
                    <div class="home-list__item">
                        <div class="home-list__img">
                            <img src="img/check-mark.svg" alt="">
                        </div>
                        <span class="home-list__text font-medium">Остановит старение суставов</span>
                    </div>
                </div>
                <div class="home-watch">
                    <a href="#use" class="home-watch__link"><img src="img/button-play.svg" alt=""></a>
                    <span class="home-watch__text">Смотреть видеоинструкцию<br> по применению препарата <span class="biger font-bold">20Flex</span></span>
                </div>
            </div>
            <div class="home-wrap__form form">
                <h4 class="form-title font-bold">Успейте заказать по промо-цене <br> <span class="colortext-orange font-medium smaller">до <span class="date-0">дата</span></span></h4>
                <div class="price">
                    <div class="price-item price-old">
                        <p class="price-title price-title__old">Старая цена:</p> 
                        <span class="x_price_previous">900</span> <span class="x_currency">руб</span>.
                    </div>
                    <span class="price-line"></span>
                    <div class="price-item price-new">
                        <p class="price-title price-title__new">Новая цена:</p>
                        <span class="x_price_current">800</span> <span class="x_currency">руб</span>.
                    </div>
                </div>
                <p class="lastpack-text">Осталось <span class="colortext-orange font-bold lastpack">10</span> упаковок<br> со скидкой</p>
                <form action="/submit" method="post" class="x_order_form">
                    <input class="form-field form-name" type="text" name="name" placeholder="Мое имя" required autocomplete="name">
                    <input class="form-field form-tel" type="tel" name="phone" placeholder="Мой телефон" required autocomplete="tel">
                </form>
            </div>
        </div>
    </div>
</section>