<section class="section joint-regeneration">
    <div class="wrapper joint__wrapper">
        <h2 class="title">Комплекс <span class="colortext-orange">20Flex</span> запускает регенерацию суставов</h2>
        <p class="sub-title">вне зависимости от возраста и причины возникновения боли</p>
        <div class="joint">
            <div class="joint__block joint__block_width">
                <div class="joint__item joint__item_flex joint__item_color">
                    <div class="joint__item-img joint__item-img_mod"><img src="img/family.svg" alt="family"></div>
                    <p class="joint__item-title">Возраст</p>
                </div>
                <div class="joint__item joint__item_flex">
                    <div class="joint__item-img"><img src="img/joint.svg " alt="joint"></div>
                    <p class="joint__item-title">Жалобы</p>
                </div>
                <div class="joint__item joint__item_flex">
                    <div class="joint__item-img"><img src="img/reviews.svg" alt="reviews"></div>
                    <p class="joint__item-title">Что говорят</p>
                </div>
                <div class="joint__item joint__item_flex">
                    <div class="joint__item-img"><img src="img/ask.svg" alt="reason"></div>
                    <p class="joint__item-title">Причины болезни</p>
                </div>
            </div>


            <div class="joint__slide-wrapper">
                <div class="joint__slide">

                    <div class="joint__block">
                        <div class="joint__item joint__item_color joint__item_center">
                            <p class="joint__item-title joint__item-title_mob">Возраст</p>
                            <p class="joint__item-title">от <span class="colortext-blue">25</span> до <span class="colortext-blue">35</span>
                                лет</p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Жалобы</p>
                            <ul class="joint__list">
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>боль в результати травм</p>
                                </li>
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>боль во время тренировок</p>
                                </li>
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>тяжесть в суставах из-за лишнего веса</p>
                                </li>
                            </ul>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Что говорят</p>
                            <div class="joint__people">
                                <img src="img/table-people1.jpg" alt="reviews one" class="joint__people-img">
                                <div class="joint__people-description">
                                    <p class="joint__people-name">Юлия З.,</p>
                                    <p class="joint__people-years">28 лет</p>
                                    <p class="joint__people-live">г. Псков</p>
                                </div>
                            </div>
                            <p class="joint__people-reviews">
                                Я не думала, что мне врач запретит заниматься
                                на велотренажере. Я думала,
                                это польза, а в моем случае оказался вред.
                            </p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Причины болезни</p>
                            <p class="joint__item-description">
                                Лишний вес, неравномерные нагрузки и травмы, которые привели к артрозу
                            </p>
                        </div>
                    </div>


                    <div class="joint__block">
                        <div class="joint__item joint__item_color joint__item_center">
                            <p class="joint__item-title joint__item-title_mob">Возраст</p>
                            <p class="joint__item-title">от <span class="colortext-blue">35</span> до <span class="colortext-blue">55</span>
                                лет</p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Жалобы</p>
                            <ul class="joint__list">
                                <li class="joint__list-item">
                                    <img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>боли не только при нагрузке,
                                        но и в состоянии покоя</p>
                                </li>
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>суставы крутит на погоду</p>
                                </li>
                                <li class="joint__list-item">
                                    <img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>ограничение подвижности
                                        суставов</p>
                                </li>
                            </ul>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Что говорят</p>
                            <div class="joint__people">
                                <img src="img/table-people2.jpg" alt="reviews two" class="joint__people-img">
                                <div class="joint__people-description">
                                    <p class="joint__people-name">Антон М.,</p>
                                    <p class="joint__people-years">41 лет</p>
                                    <p class="joint__people-live">г. Москва</p>
                                </div>
                            </div>
                            <p class="joint__people-reviews">
                                Знаете это ноющее чувство
                                в коленях и кистях рук?
                                Иногда&nbsp;даже водить машину сложно
                            </p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Причины болезни</p>
                            <p class="joint__item-description">
                                Остеоартроз с запущенными дегенеративно-дистрофическими изменениями
                            </p>
                        </div>
                    </div>

                    <div class="joint__block">
                        <div class="joint__item joint__item_color joint__item_center">
                            <p class="joint__item-title joint__item-title_mob">Возраст</p>
                            <p class="joint__item-title">от <span class="colortext-blue">55</span> и <span class="colortext-blue">более</span>
                                лет</p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Жалобы</p>
                            <ul class="joint__list">
                                <li class="joint__list-item">
                                    <img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>регулярные боли вне
                                        зависимости от нагрузки</p>
                                </li>
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>острая боль при движении</p>
                                </li>
                                <li class="joint__list-item"><img src="img/item-x.svg" alt="x" class="joint__list-img">
                                    <p>обездвиживание суставов</p>
                                </li>
                            </ul>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Что говорят</p>
                            <div class="joint__people">
                                <img src="img/table-people3.png" alt="reviews three" class="joint__people-img">
                                <div class="joint__people-description">
                                    <p class="joint__people-name">Нина П.,</p>
                                    <p class="joint__people-years">57 лет</p>
                                    <p class="joint__people-live">г. Новосибирск</p>
                                </div>
                            </div>
                            <p class="joint__people-reviews">
                                Терпела, пока не смогла
                                ходить без палочки. Жалею,
                                что довела до такого.
                            </p>
                        </div>
                        <div class="joint__item">
                            <p class="joint__item-title joint__item-title_mob">Причины болезни</p>
                            <p class="joint__item-description">
                                Возрастное изнашивание тазобедренных суставов
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</section>