<section class="section section-grey returns-youth">
	<div class="wrapper">
		<h2 class="title returns-youth-title">Комплекс <span class="colortext-orange">20Flex</span><br> возвращает молодость ваших суставов</h2>
		<h4 class="returns-youth__descr font-medium">благодаря усиленному одновременному <span class="colortext-blue">внутреннему</span> и <span class="colortext-orange">внешнему</span> воздействию</h4>
		<div class="returns-youth-wrap">
			<div class="returns-youth-wrap__item returns-youth-wrap__left">
				<h3 class="colortext-blue title">Таблетки<img class="title-img" src="img/product-icon__blue.png" alt=""></h3>
				<h4 class="descr colortext-blue">20FLEX+ — для внутреннего<br> применения<span class="pillow-box"><img class="home-pillow" src="img/pillow.png" alt=""></span></h4>
				<p class="text">В человеческом теле 360 суставов. Таблетки <span class="colortext-blue">20Flex+</span> питают хондроитином, глюкозамином и гиалуроновой кислотой каждый из этих суставов. Действующие вещества быстро и эффективно <span class="font-bold">восстанавливают все структуры хряща</span> и его подвижность. </p>
			</div>
			<div class="returns-youth-wrap__item returns-youth-wrap__center">
				<img src="img/joint-big.jpg" alt="">
				<p>действие таблеток изнутри<br> и геля снаружи</p>
			</div>
			<div class="returns-youth-wrap__item returns-youth-wrap__right">
				<h3 class="colortext-orange title"><img class="title-img" src="img/product-icon__orange.png" alt="">Гель в капсуле</h3>
				<h4 class="descr colortext-orange"><span class="capsule-box"><img class="home-capsule" src="img/capsule.png" alt=""></span>20FLEX — для наружного<br> применения</h4>
				<p class="text">Боль - самая явная проблема при болезнях суставов. Гель <span class="colortext-orange">20Flex</span> <span class="font-bold">устраняет боль</span> за считанные минуты. После этого действующие вещества проникают через кожу глубоко к хрящевой ткани и регенерируют его, <span class="font-bold">предотвращая рецидивы.</span></p>
			</div>
		</div>
		<h4 class="advice-title font-medium">Только <span class="colortext-orange">комплексное воздействие</span> на сустав может обеспечить<br> эффект его омоложения при любой причине болезни.</h4>
		<button type="submit" class="returns-youth-btn btn ever-popup-btn">
            <span class="btn__text btn__text-1">Заказать</span>
            <span class="btn__text btn__text-2">со скидкой</span>
        </button>
	</div>
</section>