<section class="section reviews" id="reviews">
    <div class="wrapper">
        <h2 class="title">
            Отзывы людей, которым уже&nbsp;помог <br>
            комплекс <span class="colortext-orange">20Flex</span>

        </h2>
        <h3 class="reviews__subtitle">
            среди рекомендаций современных врачей и&nbsp;мед.&nbsp;ассоциаций
        </h3>
        <div class="reviews__wrap">
            <div class="reviews__slider">
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews1.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Антон М.,
                    </span>
                            32 года
                        </h3>
                        <h4 class="reviews__problem">
                            Полностью восстановил коленку
                        </h4>
                        <p class="reviews__text">
                            Я на&nbsp;лыжах не&nbsp;мог стоять 2&nbsp;недели, потому&nbsp;что колено не&nbsp;держало.
                            Вывих&nbsp;был, но&nbsp;его мне&nbsp;вправили.
                            А&nbsp;колено слабым осталось. А&nbsp;у&nbsp;меня лыжи - вся моя жизнь. Я&nbsp;тогда очень
                            испугался. Друг футболист
                            отправил меня к&nbsp;своему ортопеду, тот мне&nbsp;сказал комплекс <span
                                class="colortext-orange">20Flex</span> пить
                            и&nbsp;мазать. Я&nbsp;уже через неделю понял, что за&nbsp;месяц все&nbsp;точно
                            восстановится, потому что&nbsp;сразу стало
                            лучше. И&nbsp;сгибать колено
                            смог полностью, и&nbsp;без&nbsp;боли это&nbsp;происходило.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner reviews__inner--even">
                    <div class="reviews__item">
                        <img src="img/reviews2.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Людмила К.,
                    </span>
                            46 лет
                        </h3>
                        <h4 class="reviews__problem">
                            Боль в колене утихла
                        </h4>
                        <p class="reviews__text">
                            Хромать - это&nbsp;некрасиво, а&nbsp;не&nbsp;только больно. Не&nbsp;с&nbsp;тростью же&nbsp;ходить
                            в&nbsp;46&nbsp;лет! И&nbsp;я&nbsp;очень рада, что мне&nbsp;попался гельчик и&nbsp;таблетки
                            <span class="colortext-orange">20Flex</span>,
                            а&nbsp;то я&nbsp;себя уже&nbsp;инвалидом чувствовала. Сейчас боль утихла, могу смело
                            опираться на&nbsp;ногу. Сгибается
                            колено тоже уже&nbsp;хорошо. Вылечила быстро и&nbsp;просто. И&nbsp;другие хондропротекторы
                            нужно по&nbsp;полгода пить и&nbsp;мазями постоянно мазать,
                            а&nbsp;здесь курс намного короче, и&nbsp;денег меньше уходит.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews3.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Татьяна В.,
                    </span>
                            54 года
                        </h3>
                        <h4 class="reviews__problem">
                            Новый комплекс помог
                        </h4>
                        <p class="reviews__text">
                            Доброго времени суток )) У&nbsp;меня артроз с&nbsp;2010-го года был. Я&nbsp;уже
                            с&nbsp;ним стала разбираться в&nbsp;таблетках лучше, чем врачи! Я&nbsp;уже&nbsp;все, что на&nbsp;прилавках
                            аптек есть, мазала
                            и&nbsp;пила. Решила еще <span class="colortext-orange">20Flex</span> попробовать. <span class="ib">Что-то</span>
                            новенькое, таких таблеток
                            с&nbsp;гиалуронкой и&nbsp;такого интересного геля я&nbsp;раньше не&nbsp;встречала. И&nbsp;вы&nbsp;знаете,
                            пока они мне&nbsp;помогли
                            лучше всего. Почти никакой боли после курса. Очень надеюсь, что так
                            и&nbsp;продолжится!
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews4.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Олег Павичев,
                    </span>
                            57 лет
                        </h3>
                        <h4 class="reviews__problem">
                            Колени не болят и хорошо сгибаются
                        </h4>
                        <p class="reviews__text">
                            Я&nbsp;свои колени чем&nbsp;только не&nbsp;лечил!
                            Я&nbsp;делал даже ударно-волновые процедуры, а&nbsp;они же&nbsp;такие дорогие
                            и&nbsp;такие болезненные! Так&nbsp;после них ну&nbsp;месяца на&nbsp;два стало лучше, до&nbsp;первого
                            похода из&nbsp;магазина
                            с&nbsp;тяжелыми пакетами. А&nbsp;потом
                            я&nbsp;гелем в&nbsp;капсулках начал колени мазать, и&nbsp;параллельно таблеточки пить -
                            <span class="colortext-orange">20Flex</span> и <span class="colortext-orange">20Flex</span>+.
                            Так&nbsp;уже
                            через 2&nbsp;недели стало лучше, чем после 10 тех&nbsp;болезненных процедур, и&nbsp;я&nbsp;могу
                            нормально ходить!
                        </p>
                    </div>
                </div>
                <div class="reviews__inner reviews__inner--even">
                    <div class="reviews__item">
                        <img src="img/reviews5.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Елена Сеченик,
                    </span>
                            65 года
                        </h3>
                        <h4 class="reviews__problem">
                            Прошла профессиональная болезнь
                        </h4>
                        <p class="reviews__text">
                            За&nbsp;печатной машинкой я&nbsp;провела всю&nbsp;юность, за&nbsp;клавиатурой компьютера -
                            еще 25&nbsp;лет. Боли в&nbsp;кистях рук
                            были ужасные, руки сводило, пальцы - как&nbsp;деревянные были.
                            Мази с&nbsp;капсаицином мне&nbsp;помогали,
                            но&nbsp;только на&nbsp;3-4 часа. А эта&nbsp;мазь же
                            и&nbsp;боль сразу снимает, и&nbsp;с&nbsp;каждым разом она&nbsp;все дольше не&nbsp;возвращается.
                            Ну и&nbsp;таблетки, наверное,
                            помогли. Пальцы снова сгибаться стали, узелки уменьшились. В&nbsp;общем, деньги
                            не&nbsp;зря потрачены.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews6.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Костя Левкин,
                    </span>
                            18 года
                        </h3>
                        <h4 class="reviews__problem">
                            Справился с&nbsp;вывихом
                        </h4>
                        <p class="reviews__text">
                            Привет! Хочу здесь написать хорошее про&nbsp;комплекс <span
                                class="colortext-orange">20Flex</span>. Я&nbsp;попробовал этот комплекс, когда на
                            роликах голеностоп подвернул, хорошо, что&nbsp;связка целая осталась. Брат сказал только
                            <span class="colortext-orange">20Flex</span> мазать,
                            и&nbsp;таблетки
                            с&nbsp;ним пить. А&nbsp;брат у&nbsp;меня шарит, он&nbsp;паркуром занимается, и, <span class="ib">по-моему</span>,
                            сейчас даже просто для
                            профилактики таблетки из&nbsp;этого набора пьет. Так в&nbsp;общем, мой голеностоп
                            восстановился,
                            на&nbsp;рентгене сейчас все&nbsp;красиво.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews7.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Анна Евгеньева,
                    </span>
                            28 года
                        </h3>
                        <h4 class="reviews__problem">
                            Отличный против спортивных травм
                        </h4>
                        <p class="reviews__text">
                            Я&nbsp;профессионально занималась спортом. И&nbsp;из-за нагрузок уже лет&nbsp;десять, как с&nbsp;больными
                            плечами
                            и&nbsp;локтями мучаюсь. :( Разогревающие мази только на&nbsp;несколько часов помогают.
                            Подруга была на&nbsp;соревнованиях
                            в&nbsp;Штатах, повредила колено и&nbsp;ей там хороший врач выписал <span
                                class="colortext-orange">20Flex</span>. Ей&nbsp;средство
                            понравилось, она&nbsp;привезла сюда
                            и&nbsp;дала мне&nbsp;попробовать. И&nbsp;мне&nbsp;тоже понравилось, сейчас нормально руками
                            двигаю и&nbsp;не&nbsp;морщусь
                            от&nbsp;боли:)))). Советую.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner reviews__inner--even">
                    <div class="reviews__item">
                        <img src="img/reviews8.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Дмитрий А.,
                    </span>
                            62 года
                        </h3>
                        <h4 class="reviews__problem">
                            Не прямо как в&nbsp;молодости, конечно, но&nbsp;пальцы сгибаются легко
                        </h4>
                        <p class="reviews__text">
                            Когда мне стукнуло 60 лет, все&nbsp;стало ломить, суставы распухали, болели руки. Лечился,
                            как&nbsp;принято,
                            примочки ставил всякие, компрессы, пчелиные укусы пробовал. Сосед подсмотрел, как я&nbsp;дверь
                            открываю -
                            ключи постоянно выпадали. И&nbsp;сказал, что мне таблетки и наружное <span
                                class="colortext-orange">20Flex</span> купить нужно. Ну, я&nbsp;ему денег
                            дал
                            и попросил купить мне. И&nbsp;помогло! Суставы, не&nbsp;прямо как
                            в&nbsp;молодости, конечно, но&nbsp;гораздо лучше и&nbsp;сгибаются легко.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews9.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Катерина М.,
                    </span>
                            42 год
                        </h3>
                        <h4 class="reviews__problem">
                            За три недели суставы ни разу
                            на&nbsp;погоду не болели
                        </h4>
                        <p class="reviews__text">
                            Сколько себя помню, всегда колени крутило на&nbsp;погоду. Спасалась большими порциями
                            парацетамола или
                            ибупрофена. Потом увидела передачу, где&nbsp;рассказали, что на&nbsp;обезболивающие можно
                            подсесть,
                            и&nbsp;испугалась. <span class="colortext-orange">20Flex</span> мне кума посоветовала, ей
                            врач прописывал.
                            И&nbsp;оба этих средства (и&nbsp;таблетки,
                            и&nbsp;гель в&nbsp;капсулах) мне очень и&nbsp;очень помогли! Я&nbsp;уже даже&nbsp;забыла,
                            когда последний раз обезболивающие
                            таблетки пила.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews10.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Татьяна Петрова,
                    </span>
                            46 лет
                        </h3>
                        <h4 class="reviews__problem">
                            За месяц суставы пришли в норму
                        </h4>
                        <p class="reviews__text">
                            У нас в&nbsp;семье у&nbsp;всех суставы слабые
                            и&nbsp;болезненные. У&nbsp;меня еще с&nbsp;15&nbsp;лет
                            в&nbsp;тазобедренных суставах боли начались. Мне тогда еще делали уколы, когда мою же кровь
                            брали, <span class="ib">чем-то</span>
                            там обогащали и&nbsp;обратно вкалывали. И&nbsp;так полгода нужно. Постоянно я&nbsp;что-то
                            новое пробовала.
                            Попробовала недавно <span class="colortext-orange">20Flex</span>.
                            Так вот, я&nbsp;очень удивлена! Я&nbsp;даже
                            в&nbsp;юности так классно себя не&nbsp;чувствовала! Я&nbsp;думаю через месяц еще&nbsp;курс
                            пройти, чтобы наверняка.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner reviews__inner--even">
                    <div class="reviews__item">
                        <img src="img/reviews11.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Элеонора Зуева,
                    </span>
                            70 лет
                        </h3>
                        <h4 class="reviews__problem">
                            Прошли постоянные боли
                        </h4>
                        <p class="reviews__text">
                            Здравствуйте! Хочу поблагодарить Вас за&nbsp;прекрасное лечение. Заказать оказалось очень
                            просто. Гель
                            и&nbsp;таблетки, которые мне привезли прямо на&nbsp;почту, я&nbsp;использовала месяц, как и&nbsp;рекомендовал
                            мне
                            консультант по&nbsp;телефону. Очень понравилось то, что эти&nbsp;таблетки
                            и&nbsp;гель с&nbsp;каждым днем работают все быстрее. Маленькой капсулы геля намного хватает,
                            что приятно.
                            В&nbsp;результате лечения у&nbsp;меня прошел мой артроз — постоянные боли
                            в&nbsp;кистях и&nbsp;ногах.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews12.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Андрей Юрьевич,
                    </span>
                            74 года
                        </h3>
                        <h4 class="reviews__problem">
                            Через неделю руки перестали болеть вообще
                        </h4>
                        <p class="reviews__text">
                            40 лет я&nbsp;водил автобус, и&nbsp;руки очень сильно болят. Боль начиналась
                            в&nbsp;локтях и&nbsp;в&nbsp;кисть уходила. Иногда так болели руки, что&nbsp;обезболивающие
                            целый день пил. К&nbsp;врачам
                            ходил, так&nbsp;они&nbsp;ничего не&nbsp;могут сделать. Сказали, возрастное. <span
                                class="colortext-orange">20Flex</span> мне нашел внук. Принес мне
                            значит эти&nbsp;таблетки
                            с&nbsp;мазью. Так я&nbsp;заметил, что они&nbsp;лучше обезболивающих моих работают. Через
                            неделю уже&nbsp;спокойно мог
                            руками двигать. Спасибо лекарству и&nbsp;внуку!
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews13.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Татьяна В.,
                    </span>
                            46 лет
                        </h3>
                        <h4 class="reviews__problem">
                            Суставы больше не беспокоят
                        </h4>
                        <p class="reviews__text">
                            Мне эти&nbsp;таблеточки и&nbsp;гель купила дочка. Ей&nbsp;надоело, что я&nbsp;на&nbsp;погоду
                            постоянно на&nbsp;свои суставы
                            жаловалась. На&nbsp;большинство мазей
                            у&nbsp;меня аллергия шла. Кожа краснела и&nbsp;чесалась сильно. Этот гель я&nbsp;тоже
                            сначала аккуратно
                            попробовала,
                            а&nbsp;потом уже и&nbsp;все ноги мазала - никаких аллергий. Ну и&nbsp;таблетки тоже
                            натуральные, хорошо пошли.
                            После курса уже&nbsp;прошло три&nbsp;недели,
                            а&nbsp;у&nbsp;меня ни&nbsp;разу суставы не&nbsp;болели.
                            Я&nbsp;рада, что нашлось наконец подходящее мне&nbsp;средство.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner reviews__inner--even">
                    <div class="reviews__item">
                        <img src="img/reviews14.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Василий,
                    </span>
                            41 год
                        </h3>
                        <h4 class="reviews__problem">
                            Спас меня после аварии
                        </h4>
                        <p class="reviews__text">
                            Здравствуйте. Я в&nbsp;том году попал
                            в&nbsp;аварию, и&nbsp;я&nbsp;тогда очень сильно побился. Слава богу, остался жив. Дольше
                            всего у&nbsp;меня не&nbsp;могло
                            зажить колено, в&nbsp;нем была очень сильная боль. А&nbsp;на&nbsp;УЗИ показывало, что все&nbsp;целое.
                            Врач сказал, что
                            если никто не&nbsp;знает, в&nbsp;чем причина боли сустава - то&nbsp;стоит попробовать <span
                                class="colortext-orange">20Flex</span>. Оно при&nbsp;любой причине
                            боли работает.
                            И&nbsp;правда, уже через неделю я&nbsp;стал забывать о&nbsp;колене, ну&nbsp;и&nbsp;после
                            курса
                            и&nbsp;по&nbsp;сей&nbsp;день все отлично.
                        </p>
                    </div>
                </div>
                <div class="reviews__inner">
                    <div class="reviews__item">
                        <img src="img/reviews15.jpg" alt="author" class="reviews__foto">
                        <h3 class="reviews__name">
                    <span class="reviews__name--bold">
                        Анна Симонова,
                    </span>
                            53 года
                        </h3>
                        <h4 class="reviews__problem">
                            Чувствую себя молодой
                        </h4>
                        <p class="reviews__text">
                            Полжизни скрипела и&nbsp;хрустела суставами, а&nbsp;потом они сильно болеть стали. Я&nbsp;попробовала
                            пить
                            обезболивающие, думала как-то пройдет, но ничего не&nbsp;прошло. Увидела в&nbsp;метро
                            рекламу <span class="colortext-orange">20Flex</span>,
                            загуглила. Средство натуральное, без&nbsp;побочных. Ну я и&nbsp;взяла себе. Сначала ленилась
                            гелем мазать, но
                            увидела, что таблетки помогают, так вдохновилась и стала уже всем комплексом пользоваться.
                            Ничего
                            больше не&nbsp;болит ))
                        </p>
                    </div>
                </div>
            </div>
            <div class="reviews__next">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                     viewBox="0 0 20 19" style="enable-background:new 0 0 20 19;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #CCCCCC;
                    }
                </style>
                <g>
                    <g transform="translate(-660 -12689)">
                        <g>
                            <path id="oy3ba" class="st0" d="M660.5,12699.3l8.1,8.2c0.5,0.5,1.3,0.5,1.8,0c0,0,0,0,0,0c0.5-0.5,0.5-1.3,0-1.8l-5.9-6h14.3
                                c0.7,0,1.3-0.6,1.3-1.3v0c0-0.7-0.6-1.3-1.3-1.3h-14.3l5.9-6c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0c0,0,0,0,0,0l-8.1,8.2
                                C660,12698,660,12698.8,660.5,12699.3L660.5,12699.3z"/>
                        </g>
                    </g>
                </g>
                </svg>
            </div>
            <div class="reviews__prev">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                     viewBox="0 0 20 19" style="enable-background:new 0 0 20 19;" xml:space="preserve">
                <style type="text/css">
                    .st0 {
                        fill: #CCCCCC;
                    }
                </style>
                <g>
                    <g transform="translate(-660 -12689)">
                        <g>
                            <path id="oy3ba" class="st0" d="M660.5,12699.3l8.1,8.2c0.5,0.5,1.3,0.5,1.8,0c0,0,0,0,0,0c0.5-0.5,0.5-1.3,0-1.8l-5.9-6h14.3
                                c0.7,0,1.3-0.6,1.3-1.3v0c0-0.7-0.6-1.3-1.3-1.3h-14.3l5.9-6c0.5-0.5,0.5-1.3,0-1.8c-0.5-0.5-1.3-0.5-1.8,0c0,0,0,0,0,0l-8.1,8.2
                                C660,12698,660,12698.8,660.5,12699.3L660.5,12699.3z"/>
                        </g>
                    </g>
                </g>
                </svg>
            </div>
        </div>

    </div>
</section>