<section class="section second-youth">
    <div class="wrapper">
        <h2 class="title">
            Комплекс <span class="colortext-orange">20Flex</span> полностью восстанавливает <br>
            все&nbsp;структуры сустава, даря им&nbsp;вторую молодость
        </h2>
        <div class="second-youth__content">
            <div class="second-youth__item">
                <img src="img/feel-after1.jpg" alt="feel-after" class="second-youth__img">
                <p class="second-youth__text">
                    Утром вы&nbsp;не&nbsp;чувствуете скованности <br>
                    и&nbsp;легко встаете с&nbsp;постели
                </p>
            </div>
            <div class="second-youth__item">
                <img src="img/feel-after2.jpg" alt="feel-after" class="second-youth__img">
                <p class="second-youth__text">
                    В&nbsp;течение дня вы&nbsp;занимаетесь тем, <br>
                    что&nbsp;вам&nbsp;интересно
                </p>
            </div>
            <div class="second-youth__item">
                <img src="img/feel-after3.jpg" alt="feel-after" class="second-youth__img">
                <p class="second-youth__text">
                    Ночью боль не&nbsp;беспокоит вас
                </p>
            </div>
        </div>
        <h3 class="second-youth__subtitle">
            Ваши суставы снова служат вам надежной&nbsp;опорой!
        </h3>

        <div class="second-youth__btn ever-popup-btn btn">
            <span class="btn__text btn__text-1">Заказать</span>
            <span class="btn__text btn__text-2">со скидкой</span>
        </div>
    </div>
</section>