<section class="section wrong-treatment">
	<div class="wrapper">
		<h2 class="title">Неправильное лечение или&nbsp;его&nbsp;отсутствие</h2>
		<h4 class="wrong-treatment__descr">забирает время, деньги и может окончиться в лучшем случае <span>операцией</span>, а в худшем – <span>инвалидностью.</span> Эмоциональное состояние больного также оставляет желать лучшего.</h4>
		<span class="wrong-treatment__warning">Болезнь <span class="colortext-orange font-bold">прогрессирует</span> на каждом этапе</span>
		<div class="wrong-treatment-wrap">
			<div class="wrong-treatment__line1"><span class="font-bold">Что происходит:</span></div>
			<div class="wrong-treatment__line2"><span class="font-bold">Что вы чувствуете:</span></div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">1</h4>
				<div class="wrong-treatment__mobileline1"><span class="font-bold">Что происходит:</span></div>
				<p class="wrong-treatment-happens__text">Суставы с трудом разгибаются,<br> болят и увеличиваются в размерах. Наблюдается выраженное воспаление и отечность в&nbsp;этой&nbsp;области.</p>
				<div class="wrong-treatment__mobileline2"><span class="font-bold">Что вы чувствуете:<p class="open-info"></p></span></div>
				<div class="wrong-treatment__hide">
					<img class="wrong-treatment-img" src="img/feel-before1.jpg" alt="">
					<span class="colortext-orange font-bold wrong-treatment-img__descr">Ограниченность движений</span>
					<p class="wrong-treatment-feel__text">Поход в магазин или <span class="font-bold">несколько<br> часов на ногах вызывают боль</span><br> в коленях и пояснице.<br><span class="free-space"></span> Больному все время приходится останавливаться, чтобы отдохнуть.<br>  Он <span class="font-bold">остается дома в одиночестве,</span> стыдится попросить помощи, ведь <span class="font-bold">чувствует себя неполноценным.</span></p>
				</div>
			</div>
			<div class="wrong-treatment-wrap__border"></div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">2</h4>
				<div class="wrong-treatment__mobileline1"><span class="font-bold">Что происходит:</span></div>
				<p class="wrong-treatment-happens__text">В хрящах образуются устойчивые повреждения, в некоторых местах обнажается и разрастается кость. Любое движение сопровождается невыносимой болью.</p>
				<div class="wrong-treatment__mobileline2"><span class="font-bold">Что вы чувствуете:<p class="open-info"></p></span></div>
				<div class="wrong-treatment__hide">
					<img class="wrong-treatment-img" src="img/feel-before2.jpg" alt="">
					<span class="colortext-orange font-bold wrong-treatment-img__descr">Боль и зависимость</span>
					<p class="wrong-treatment-feel__text">Человек становится <span class="font-bold">зависим от приема обезболивающего.</span> Побочные эффекты лекарств приводят к болезням сердца, диарее, запору, слабости, высыпаниям. Больному артрозом сложно выполнять работу по дому, каждое колебание погоды сказывается на состоянии больного, и являются для него сильным стрессом.</p>
				</div>
			</div>
			<div class="wrong-treatment-wrap__border"></div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">3</h4>
				<div class="wrong-treatment__mobileline1"><span class="font-bold">Что происходит:</span></div>
				<p class="wrong-treatment-happens__text">Хрящи полностью стираются, кости трутся друг об друга, что вызывает невыносимую боль. Больной становится тяжелым грузом для своих родных и близких.</p>
				<div class="wrong-treatment__mobileline2"><span class="font-bold">Что вы чувствуете:<p class="open-info"></p></span></div>
				<div class="wrong-treatment__hide">
					<img class="wrong-treatment-img" src="img/feel-before3.jpg" alt="">
					<span class="colortext-orange font-bold wrong-treatment-img__descr">Беспомощность</span>
					<p class="wrong-treatment-feel__text">Из-за ужасных болей в руках, ногах, 
						спине <span class="font-bold">проблемой становится даже переключение каналов телевизора.</span> Прием обезболивающих — обязательная процедура 3-4 раза в день. Приходится экономить на еде, чтобы купить лекарства. <span class="font-bold">Больной жалеет, что не начал лечиться раньше, или лечился неправильно.</span>
					</p>
				</div>
			</div>
		</div>
		<div class="advice">
			<h4 class="advice-title">Не дожидайтесь необратимых последствий или&nbsp;необходимости<br> дорогого&nbsp;лечения!</h4>
			<p class="advice-descr font-medium">Болезнь всегда проще лечить на начальной стадии. <span class="colortext-orange">Начните прямо сейчас!</span></p>
			<button type="submit" class="wrong-treatment-btn btn ever-popup-btn">
                <span class="btn__text btn__text-1">Заказать</span>
                <span class="btn__text btn__text-2">со скидкой</span>
            </button>
		</div>
	</div>
</section>