<section class="section wrong-treatment">
	<div class="wrapper">
		<h2 class="title">Неправильное лечение или его отсутствие</h2>
		<h4 class="wrong-treatment__descr">забирает время, деньги и может окончиться в лучшем случае <span>операцией</span>, а в худшем – <span>инвалидностью.</span> Эмоциональное состояние больного также оставляет желать лучшего.</h4>
		<span class="wrong-treatment__warning">Болезнь <span class="colortext-orange font-bold">прогрессирует</span> на каждом этапе</span>
		<div class="wrong-treatment-wrap">
			<div class="wrong-treatment__line1"><span>Что происходит:</span></div>
			<div class="wrong-treatment__line2"><span>Что вы чувствуете:</span></div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">1</h4>
				<p class="wrong-treatment-happens__text">Суставы с трудом разгибаются, болят и увеличиваются в размерах. Наблюдается выраженное воспаление и отечность в этой области. </p>
				<img class="wrong-treatment-img" src="img/feel-before1.jpg" alt="">
				<span class="colortext-orange wrong-treatment-img__descr">Ограниченность движений</span>
				<p class="wrong-treatment-feel__text">Поход в магазин или <span class="font-bold">несколько часов на ногах вызывают боль</span> в коленях и пояснице. Больному все время приходится останавливаться, чтобы отдохнуть.  Он <span class="font-bold">остается дома в одиночестве,</span> стыдится попросить помощи, ведь <span class="font-bold">чувствует себя неполноценным.</span></p>
			</div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">2</h4>
				<p class="wrong-treatment-happens__text">Суставы с трудом разгибаются, болят и увеличиваются в размерах. Наблюдается выраженное воспаление и отечность в этой области. </p>
				<img class="wrong-treatment-img" src="img/feel-before2.jpg" alt="">
				<span class="colortext-orange wrong-treatment-img__descr">Ограниченность движений</span>
				<p class="wrong-treatment-feel__text">Поход в магазин или несколько часов на ногах вызывают боль в коленях и пояснице. Больному все время приходится останавливаться, чтобы отдохнуть.  Он остается дома в одиночестве, стыдится попросить помощи, ведь чувствует себя неполноценным.</p>
			</div>
			<div class="wrong-treatment-wrap__item">
				<h4 class="colortext-orange wrong-treatment-wrap__title">3</h4>
				<p class="wrong-treatment-happens__text">Суставы с трудом разгибаются, болят и увеличиваются в размерах. Наблюдается выраженное воспаление и отечность в этой области. </p>
				<img class="wrong-treatment-img" src="img/feel-before3.jpg" alt="">
				<span class="colortext-orange wrong-treatment-img__descr">Ограниченность движений</span>
				<p class="wrong-treatment-feel__text">Поход в магазин или несколько часов на ногах вызывают боль в коленях и пояснице. Больному все время приходится останавливаться, чтобы отдохнуть.  Он остается дома в одиночестве, стыдится попросить помощи, ведь чувствует себя неполноценным.</p>
			</div>
		</div>
	</div>
</section>