.demonstration{
    padding: 90px 0 105px;
    @include bgImage(top, 200px);
    &__wrapper{
        display: flex;
        justify-content: flex-end;
        position: relative;
    }
    &__video{
        width: 468px;
        position: absolute;
        left: 0;
        top: 50px;
        &-title{
            font-size: 26px;
            font-style: italic;
            color: #c2ced4;
            position: relative;
            &::after{
                content: '';
                background-image: url(../img/arrow-youtube.svg);
                background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 94px;
                width: 123px;
                position: absolute;
                transform: rotate(100deg);
                top: 30px;
                left: 100px;
            }
        }
        &-youtube {
            width: 100%;
            height: 248px;
            margin-top: 73px;
        }
    }
    &__description{
        width: 800px;
        background-color: #fff;
        border-radius: 15px;
        padding: 57px 39px;
        &-title{
            color: #2b3541;
            font-size: 38px;
            font-weight: bold;
        }
        &-text{
            color: #656d76;
            font-size: 18px;
            margin-top: 50px;
            margin-left: 96px;
            line-height: 1.8;
            &_color{
                color: #2b3541;
                font-weight: bold;
            }
        }
    }
    &__result{
        font-size: 28px;
        color: #2b3541;
        text-align: center;
        font-weight: bold;
        margin: 50px auto 0;
        width: 730px;
    }
}

.demonstration__video iframe {
    width: 468px;
    height: 248px;
    margin-top: 70px;
    border: none !important;
}

@media screen and (max-width: 1199px){
    .demonstration__video{
        top: 0;
    }
    .demonstration__description{
        width: 650px;
        padding: 25px 30px;
        &-title{
            font-size: 34px;
        }
        &-text{
            margin-top: 20px;
        }
    }
}
@media screen and (max-width: 1023px){
    .demonstration{
        background-color: #e8f4f9;
        background-image: none;
    }
    .demonstration__wrapper{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .demonstration__video{
        position: static;
        margin-top: 20px;
    }
    .demonstration__video-title::after{
        top: 0;
        left: 260px;
    }
    .demonstration__video-youtube{
        margin-top: 33px;
    }
    .demonstration__description-text{
        margin-left: 0;
        font-size: 17px;
    }
    iframe{
        margin-top: 30px;
    }
}

@media screen and (max-width: 767px){
    .demonstration__result{
        width: 100%;
        margin-top: 20px;
    }
    .demonstration__description{
        width: 100%;
    }
    .demonstration__description-title{
        font-size: 24px;
    }
    .demonstration__description-text{
        font-size: 16px;
    }

}

@media screen and (max-width: 639px){
    .demonstration__video{
        width: 100%;
    }
    .demonstration__result{
        font-size: 22px;
    }
}

@media screen and (max-width: 480px){
    .demonstration__video-title::after{
        height: 64px;
        width: 123px;
        top: 20px;
        left: 200px;
    }
    .demonstration__video-youtube{
        width: 100%;
    }
    iframe{
        width: 100%;
    }
}