.doctor {
  padding-top: 121px;
  padding-bottom: 118px;
  text-align: center;
  @include bgImage(bottom, 160px);
  &__subtitle {
    margin-top: 15px;
    color: #656d76;
    font-size: 22px;
    font-weight: 400;
    line-height: 26px;
    &--bold {
      color: #2b3541;
      font-weight: 700;
    }
  }
  &__stats {
    margin-top: 94px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &--line {
      width: 1px;
      height: 175px;
      background-color: #b8dbe8;
      opacity: 0.7;
      flex-shrink: 0;
    }
  }
  &__item {
    width: 370px;
  }
  &__stat {
    display: inline-block;
    position: relative;
    color: #2b3541;
    font-size: 80px;
    font-weight: 300;
    line-height: 1;
    z-index: auto;
    &--proc {
      font-size: 56px;
    }
    &--text {
      position: relative;
      z-index: 2;
    }
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 40px;
      left: 0;
      bottom: 6px;
      background-color: #fff;
      z-index: 0;
    }
  }
  &__text {
    margin-top: 23px;
    color: #656d76;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    &--bold {
      color: #2b3541;
      font-weight: 700;
    }
  }
  &__content {
    margin-top: 92px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__sert {
    width: 670px;
    display: flex;
    justify-content: space-between;
    padding-left: 63px;
    padding-right: 63px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      width: 570px;
      height: 16px;
      background-color: #ffffff;
      left: 50%;
      bottom: -7px;
      transform: translateX(-50%);
    }
    &--img {
      flex-shrink: 0;
      position: relative;
      z-index: 2;
    }
  }
  &__prod {
    width: 470px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    & img {
      flex-shrink: 0;
      position: relative;
    }
    &--pills {
      z-index: 2;
      width: 108px;
      margin-left: -45px;
      margin-bottom: -23px;

    }
    &--pack1 {
      z-index: 1;
      width: 155px;
      margin-left: -80px;
      margin-top: -14px;
    }
    &--pack2 {
      z-index: 2;
      width: 295px;
      margin-left: -54px;
      margin-bottom: -52px;
    }
  }
  &__slogan {
    margin-top: 48px;
    position: relative;
    display: inline-block;
    color: #2b3541;
    font-size: 17px;
    font-style: italic;
    line-height: 22px;
    &--line {
      position: absolute;
      width: 95px;
      height: 108px;
      left: -113px;
      bottom: -11px;
      transform: rotate(-91deg);
    }
  }
}

@media screen and (max-width: 1199px){
  .doctor {
    &__stats {
      margin-top: 40px;
    }
    &__content {
      margin-top: 50px;
    }
    &__item {
      width: 300px;
    }
    &__sert {
      padding-left: 20px;
      padding-right: 20px;
      width: 500px;
      &::after {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 1023px){
  .doctor {
    background-image: none;
    background-color: #e8f4f9;
    &__subtitle {
      font-size: 20px;
      margin-top: 5px;
      line-height: 1.3;
    }
    &__stats {
      &--line {
        display: none;
      }
    }
    &__stat {
      font-size: 60px;
      &--proc {
        font-size: 35px;
      }
      &::after {
        height: 30px;
      }
    }
    &__text {
      font-size: 16px;
      margin-top: 10px;
    }
    &__content {
      flex-direction: column-reverse;
      align-items: center;
    }
    &__item {
      width: 240px;
      & br {
        display: none;
      }
    }
    &__sert {
      margin-top: 80px;
    }
    &__slogan--line {
      display: none;
    }
  }
}
@media screen and (max-width: 767px){
  .doctor {
    &__subtitle {
      font-size: 18px;
    }
    &__stats {
      margin-top: 0;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__item {
      margin-top: 30px;
      width: 220px;
    }
    &__text {
      font-size: 15px;
    }
  }
}
@media screen and (max-width: 479px){
  .doctor {
    &__subtitle {
      & br {
        display: none;
      }
    }
    &__prod {
      &--pills {
        width: 60px;
        margin-left: 0;
        margin-bottom: -10px;
      }
      &--pack1 {
        width: 100px;
        margin-left: -40px;
      }
      &--pack2 {
        width: 175px;
        margin-left: -45px;
      }
    }
    &__sert {
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      &--img {
        width: 45%;
        margin-bottom: 20px;
      }
      &--last {
        margin-bottom: 0;
      }
      &::after {
        display: none;
      }
    }
    &__item {
      margin-top: 20px;
    }
    &__content {
      margin-top: 40px;
    }
    &__slogan {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.3;
      & br {
        display: none;
      }
    }
  }
}