
.doctor{
    padding: 70px 0 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title{
        width: 740px;
        &-bottom{
            font-size: 22px;
            color: #2b3541;
            font-weight: bold;
            margin-top: 5px;
            text-align: center;
        }
    }
    &__content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 21px;
    }
    &__img{
        width: 558px;
        position: relative;
        z-index: 5;
        &::before{
            content: '';
            width: 518px;
            height: 518px;
            border-radius: 50%;
            background-color: #fff;
            border: 27px solid #f4f7f9;
            position: absolute;
            box-sizing: border-box;
            z-index: -1;
            left: calc(50% - 259px);
            top: 140px;
        }
    }
    &__description{
        width: 700px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 60px;
        z-index: 10;
        &-title{
            font-size: 22px;
            color: #f57d02;
        }
        &-subtitle{
            font-size: 17px;
            color: #656d76;
            font-style: italic;
            margin-top: 5px;
        }
        &-quote{
            font-size: 17px;
            color: #2b3541;
            font-weight: 500;
            width: 97%;
            margin-top: 28px;
            position: relative;
            z-index: 5;
            line-height: 1.6;
            &::before{
                content: '';
                width: 100%;
                height: 81%;
                background-color: #f4f7f9;
                position: absolute;
                top: 6px;
                left: 0;
                z-index: -1;
            }
        }
    }
    &__scroll{
        width: 100%;
        height: 234px;
        overflow-y: auto;
        margin-top: 64px;
        &-description{
            font-size: 17px;
            color: #656d76;
            margin-bottom: 18px;
            width: 100%;
            line-height: 1.6;
            padding-right: 30px;
            &:last-child{
                margin-bottom: 0;
            }
            &_color{
                color: #2b3541;
                font-weight: bold;
            }
        }
    }
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail{
    background-color: #f4f7f9 !important;
    width: 16px;
}
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
    width: 8px;
    background-color: #f57d02 !important;
    opacity: 1 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    &::before{
        content: '- - -';
        height: auto;
        width: 6px;
        line-height: 0.3;
        font-size: 22px;
        color: #f0c69b;
    }
}

@media screen and (max-width: 1199px){
    .doctor__img{
        width: 445px;
    }
    .doctor__img{
        width: 559px;
    }
    .doctor__description{
        margin-top: 20px;
    }
    .doctor__img::before{
        width: 448px;
        height: 448px;
        left: calc(50% - 224px);
        top: 124px;
    }
}
@media screen and (max-width: 1023px){
    .doctor__content{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-start;
    }
    .doctor__scroll{
        margin-top: 20px;
    }
    .doctor__description{
        margin-top: 0;
    }
    .doctor__img{
        margin-top: 20px;
        width: 400px;
    }
}

@media screen and (max-width: 767px){
    .doctor__description{
        width: 100%
    }
    .doctor__title{
        width: 100%;
    }
    .doctor__description-quote::before{
        height: 88%;
    }
}
@media screen and (max-width: 480px){
    .doctor__scroll-description{
        padding-right: 10px;
    }
    .doctor__img::before{
        display: none;
    }

}
@media screen and (max-width: 420px){
    .doctor__img{
        width: 100%;
    }
    .doctor__description-quote::before{
        height: 90%;
    }
}