// .effective-regeneration{
//     padding-top: 180px;
// }
.highly-effective {
    padding: 45px 0 40px;
}
.effective__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center
}
.title{
    width: 100%;
}
.sub-title{
    font-size: 22px;
    color: #2b3541;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}

.effect{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border-radius: 15px;
    -webkit-box-shadow: 0px 10px 40px -8px rgba(236,236,236,1);
    -moz-box-shadow: 0px 10px 40px -8px rgba(236,236,236,1);
    box-shadow: 0px 10px 40px -8px rgba(236,236,236,1);
    margin-top: 40px;
    align-items: flex-start;
    &__slider{
        width: 600px;
        position: relative;
        box-sizing: border-box;
        &-wrapper{
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            border-top: 1px solid #ececec;
            border-bottom: 1px solid #ececec;
        }
    }  
    &__block{
        width: 300px;
        box-sizing: border-box;
        &:nth-child(2){
            border-left: 1px solid #ececec;
        }
        &_border{
            width: 300px;
            position: absolute;
            right: -300px;
            top: -10px;
            border: 4px solid #c0dde8;
            border-radius: 10px;
        }
        &_width{
            width: 270px;
            border: 1px solid #ececec;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            overflow: hidden;
        }
        &-item{
            width: 100%;
            padding: 32px 16px;
            box-sizing: border-box;
            &_flex{
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                padding: 32px 40px;
            }
            &:nth-child(1){
                padding: 19px 16px;
                background-color: #f4f7f9;
                min-height: 112px;
                border-bottom: 1px solid #ececec;
                display: flex;
                align-items: center;
            }
            &:nth-child(2){
                border-bottom: 1px solid #ececec;
                min-height: 113px;
            }
            &:nth-child(3){
                background-color: #fafdff;
                border-bottom: 1px solid #ececec;
                min-height: 185px;
            }
            &:nth-child(4){
                border-bottom: 1px solid #ececec;
                min-height: 113px;
            }
            &:nth-child(5){
                background-color: #fafdff;
                border-bottom: 1px solid #ececec;
                min-height: 126px;
            }
            &:nth-child(6){
                min-height: 194px;
            }
            &_height{
                min-height: 119px !important;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                background-color: #f4f7f9;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 37px;
                    background-image: url(../img/product-icon__orange.png);
                    background-size: 100% 100%;
                    top: -27px;
                    left: calc(50% - 45px);
                }
                &::after{
                    content: '';
                    position: absolute;
                    width: 60px;
                    height: 37px;
                    background-image: url(../img/product-icon__blue.png);
                    background-size: 100% 100%;
                    top: -6px;
                    left: calc(50% - 10px);
                }
            }
            &_last{
                min-height: 200px !important;
                background-color: #fff;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
            }
            &_before{
                position: relative;
            }
        }
        &-title{
            font-size: 20px;
            color: #2b3541;
            text-align: left;
            width: 100%;
            &_center{
                text-align: center;
            }
            &_mob{
                display: none;
                text-align: center;
                width: 100%;
            }
        }
        &-description{
            font-size: 17px;
            color: #656d76;
            text-align: left;
            width: 100%;
            &_red{
                color: #f3520b;
                font-weight: 500;
            }
            &_green{
                color: #40a486;
                font-weight: 500;
            }
        }
        &-procent{
            font-size: 40px;
            color: #f3520b;
            font-weight: bold;
            position: absolute;
            bottom: 40px;
            left: calc(50% - 51px);
            z-index: 5;
            &_color{
                bottom: 50px;
                color: #40a486;
            }
            &::before{
                content: '';
                width: 100%;
                height: 24px;
                background-color: #f6f6f6;
                position: absolute;
                z-index: -1;
                left: 0;
                bottom: 9px;
            }
        }
        &-check{
            position: absolute;
            bottom: -18px;
            left: calc(50% - 20px);
        }
    }
    &__bottom-title{
        font-size: 28px;
        color: #2b3541;
        margin-top: 100px;
        width: 100%;
    }
    &__bottom-description {
        font-size: 20px;
        color: #656d76;
        margin-top: 11px;
        text-align: center;
        &_color{
            color: #2b3541;
            font-weight: bold;
        }
    }
} 
@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .highly-effective {
        padding: 30px 0 10px !important;
    }
}
@media screen and (max-width: 1199px){
    
    .effect__slider{
        width: 540px;
    }
    .effect__block{
        width: 270px;
    }
    .effect__block_border{
        width: 270px;
        right: -270px;
    }
    .effect__block_width{
        width: 194px;
    }
    .effect__block-item:nth-child(3){
        min-height: 206px;
    }
    .effect__block-item:nth-child(5){
        min-height: 146px;
    }
    .effect__bottom-title{
        font-size: 26px;
    }
}
@media screen and (max-width: 1023px){
    .effect__slider{
        width: 554px;
    }
    .effect__block{
        width: 277px;
        border-left: 1px solid #ececec;
    }
    .effect__block_border{
        position: static;
        width: 277px;
        border: none;
        right: 0;
        border-left: 1px solid #ececec;
    }
    .effect__block-item_height{
        min-height: 112px !important;
        border-radius: 0;
    }
    .effect__block:nth-child(2){
        border: none;
        border-left: 1px solid #ececec;
    }
    .effect__slider-wrapper{
        border-right: 1px solid #ececec;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        overflow: hidden;
    }
    .effect__block-item:nth-child(3){
        min-height: 185px;
    }
    .effect__block-item:nth-child(6){
        min-height: 200px;
    }
    .effect__block-item_last{
        min-height: 200px !important;
        border-radius: 0;
    }
    .effect__block-title_center{
        text-align: left;
    }
    .effect__block-item_height::before{
        left: 177px;
        top: 10px;
    }
    .effect__block-item_height::after{
        left: 211px;
        top: 34px;
    }
    .effect__block-procent{
        left: 25px;
    }
    .effect__block-procent_color{
        bottom: 40px;
    }
    .effect__block-check{
        bottom: 46px;
        right: 45px;
        left: auto;
    }
    .effect__bottom-title{
        margin-top: 30px;
    }
}
@media screen and (max-width: 767px){
    .effect__block_width{
        width: 310px;
    }
    .effect__slider{
        width: 310px;
    }
    .effect__block{
        width: 100%;
    }
    .effect__block_border{
        width: 100%;
    }
}
@media screen and (max-width: 639px){
    .effect__block_width{
        width: 191px;
    }
    .effect__slider{
        width: 279px;
    }
    .effect__block-item_flex{
        padding: 32px 20px;
    }
}
@media screen and (max-width: 480px){
    .effect__block_width{
        display: none;
    }
    .effect__slider{
        width: 100%;
    }
    .effect__block-item:nth-child(2){
        min-height: 139px;
    }
    .effect__block-item:nth-child(3){
        min-height: 219px;
    }
    .effect__block-item:nth-child(4){
        min-height: 85px;
    }
    .effect__block-item:nth-child(5){
        min-height: 125px;
    }
    .effect__block-item:nth-child(6){
        min-height: 254px;
    }
    .effect__block-item_last{
        min-height: 254px !important;
    }
    .effect__slider-wrapper{
        border: none;
        border: 1px solid #ececec;
        border-radius: 15px;
    }
    .effect__block{
        border: none;
    }
    .effect__block-title_mob{
        display: block;
        color: #f3520b;
        margin-bottom: 10px;
    }
    .effect__block-check{
        bottom: 35px;
    }
    .effect__block-procent{
        bottom: 30px;
    }
}