
.ever-popup {
	background: rgba(232, 244, 249, 0.9) !important;
	overflow-x: hidden !important;
}

.ever-popup__inner {
	width: 770px !important;
}
.ever-popup__close:after, 
.ever-popup__close:before {
	background: #f57d02 !important;
}
.ever-popup__inner {

}
.popup {
	&-wrap {
		background: url(../img/home-bg.png) #fcfcfd;
		background-size: cover;
		height: 540px !important;
		position: relative;
		margin-top: 25px !important;
	}
	&-form {
		margin-left: auto;
		top: -25px;
	}
	&-people {
		position: absolute;
		left: -55px;
		top: 60px;
		height: 540px;
	}
	&-product {
		position: absolute;
		bottom: -115px;
		left: -100px;
	}
	&-product2 {
		margin: 0 0 -50px -65px;
	}
}
@media screen and (min-width: 1024px) {
	.ever-popup__inner {
		margin-top: 60px !important;
	}
}
@media screen and (max-width: 1023px) {
	.ever-popup__inner {
		width: 300px !important;
	}
	.popup {
		&-people {
			display: none;
		}
		&-wrap {
			display: -webkit-flex !important;
			display: -moz-flex !important;
			display: -ms-flex !important;
			display: -o-flex !important;
			display: flex !important;
			flex-direction: column;
			background: #fcfcfd;
			height: auto !important;
			padding: 5px;
			margin-top: 0 !important;
			.form-arrow {
				display: none;
			}
		}
		&-form {
			order: 2;
			margin: 0 auto;
			top: 0;
		}
		&-product {
			display: none;
		}
		&-product1 {
			width: 150px;
		}
		&-product2 {
			width: 225px;
			position: absolute;
			bottom: 35px;
			right: 0;
		}
	}
}