doctype html
html
  head
    meta(charset="utf-8")
    title Купить 20Flex недорого. Цены, отзывы. Закажите 20Flex сейчас!
    meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:700|Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
    link(href="img/favicon.ico" rel="icon")
    link(rel='stylesheet' href='css/app.css')
  body
    include ../common/home.html
    include ../common/joint-regeneration.html
    include ../common/demonstration.html
    include ../common/wrong-treatment.html
    include ../common/returns-youth.html
    include ../common/reinforced-regeneration.html
    include ../common/second-youth.html
    include ../common/highly-effective.html
    include ../common/composition.html
    include ../common/doctor.html
    include ../common/research.html
    include ../common/reviews.html
    include ../common/use.html
    include ../common/delivery.html
    include ../common/footer.html
    <!-- include ../common/popup.html -->
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/slick.min.js')
    script(src='js/everad.js')
    script(src='js/app.js')